<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: metadata.title }}</title>
    <meta name="description" content="{{ description | default: metadata.description }}">

    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/index.css' | url }}">
    <script type="module" src="{{ '/charts.js' | url }}"></script>
  </head>
  <body>
    <header>
      <h1 class="home">
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
        <small>{{ metadata.subtitle }}</small>
      </h1>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | raw }}
    </main>

    <footer>
      <ul>
        <li><a href="https://app.flus.fr/collections/1743346650628061722" target="_blank">Bibliographie</a></li>
        <li><a href="https://framagit.org/miette/travail-sans-capital/-/raw/main/slides/index.pdf?inline=false" download>Présentation</a> (PDF, 5.5Mo)</li>
        <li><a href="https://www.paris-web.fr/2022/conferences/on-se-leve-et-on-se-cassetour-dhorizon-dun-travail-sans-capital.php" target="_blank">Vidéo Paris-Web 2022</a></li>
        <li><a href="mailto:coucou@onseleveetonsecasse.fr">Contact</a></li>
        <li><a href="https://framagit.org/miette/travail-sans-capital" target="_blank">Code source du site</a></li>
        <li><a href="https://framagit.org/miette/travail-sans-capital/-/board" target="_blank">Backlog</a></li>
        <!-- https://opensource.creativecommons.org/ccrel-guide/#CC0 -->
        <li><a href="https://creativecommons.org/publicdomain/zero/1.0/deed.fr" rel="license" target="_blank"><img src="{{ '/cc-zero.svg' | url }}" alt="Licence Creative Commons Zero"></a></li>
      </ul>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
