---
layout: layouts/base.html
templateClass: tmpl-fiche
---
<h1>{{ title }}</h1>

{% for section in sections %}
<fieldset>
  {% if section.title %}<legend>{{ section.title }}</legend>{% endif %}

  {%- if section.answers -%}
  <object role="img" aria-describedby="{{ page.fileSlug }}-description" class="chart">
    <svg width="100%" height="200" data-colors="{{ colorScheme | json | escape }}"></svg>

    {%- if legendeAccessible -%}
    <details id="{{ page.fileSlug }}-description" class="chart-description">
      <summary>Description accessible de ce graphique</summary>
      {{ legendeAccessible | md }}
    </details>
    {%- endif -%}

    <script type="application/json">{{ section.answers | json | raw }}</script>
  </object>
  {%- endif -%}
</fieldset>
{% endfor %}

{% if content != '' %}
<section>{{ content | raw }}</section>
{% endif %}
